body {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  font-family: Arial, sans-serif;
  background: rgb(237, 171, 116);
}

#videoContainer {
  display: flex;
  justify-content: center;
  margin-top: 20px;
}

#controls {
  margin: 20px;
}

.color-container {
  display: flex;
  align-items: center;
  margin-top: 10px;
}

.color-selector {
  width: 20px;
  height: 20px;
  border-radius: 50%;
  border: 2px solid black;
  margin-right: 10px;
  cursor: pointer;
}

.color-selector:hover{
  width: 20px;
  height: 20px;
  border-radius: 50%;
  border: 5px solid black;
  margin-right: 10px;
  cursor: pointer;
}

.color-display {
  width: 50px;
  height: 50px;
  border: 2px solid #000;
  background: rgb(255, 255, 255);
  margin-left: 10px;
}

.color-display-small {
  width: 20px;
  height: 20px;
  border-radius: 50%;
  margin-left: 10px;
  display: inline-block;
}

p {
  margin: 5px 0;
}
